@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&family=Dancing+Script:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-script: "Dancing Script", cursive;
}

body {
  background-color: #080505;
  color: #ffffff;
  overflow-x: hidden;
  font-family: var(--font-body);
}
